

.going 
{
	background: green !important;
}

.maybe 
{
	background: yellow !important;
	color:black !important;
}

.notGoing 
{
	background: gray !important;
}

.noResponse 
{
	background: blue !important;
}


.weekEventImage
{
	padding: 5px !important;
	max-height: 80% !important;
	max-width: 80% !important;
	
}
